<!-- HTML -->
<div class="home-container">
  <div class="overlay">
    <div class="content">
      <!-- Logo Sofrecom -->
      <div class="logo">
        <img src="assets/logo.png" alt="Logo Sofrecom">
      </div>
      <!-- Logo SofTalent -->
      <div class="softalent-section">
        <div class="softalent-logo">
          <img src="assets/soft.png" alt="Sof'Talent Logo">
        </div>
      </div>
      <!-- Liens Connexion / Inscription -->
      <div class="links">
        <a [routerLink]="['/login']" class="btn-orange">Connexion</a>
        <a [routerLink]="['/register']" class="btn-orange">S'inscrire</a>
      </div>
    </div>
  </div>
</div>
